@charset "utf-8";

#wrap{
    width: 100%;
}
/* header 영역 */
#header{
    float: left;   
    width: 100%;
    height: 160px;
}
#header .h_top{
    margin: 0 auto;
    width: 1000px;
    height: 35px;
    background-color: coral;
}
#header .h_body{
    margin: 0 auto;
    width: 1000px;
    height: 75px;
    background-color: cornsilk;
}
#header .main_nav{
    margin: 0 auto;
    width: 100%;
    height: 50px;
    background-color: cornflowerblue;
}
/* main 영역 */
#main_img{
    float: left;   
    width: 100%;
    height: 460px;
    background-color: blueviolet;
}

/* 메인 컨텐츠 부분 */
#contents{
    /* 
        float:left; 얘를 넣으면 .item에 margin-top이 먹힐까??? 
        #header에도 똑같이 넣어주라는데 
    */
    float: left;   
    width: 100%;
    height: 1950px;
    background-color: cadetblue;
}
 
#contents .item{ 
    margin: 0 auto;
    margin-top: 40px;
    width: 1000px;
    height: 260px;
    background-color: darkgray;
}

.item_h{
    float: left;
    width: 180px;
    height: 260px;
    background-color: darkmagenta;
}
.item_b{
    float: right;
    width: 800px;
    height: 260px;
    background-color: aliceblue;
}
/* banner */
#contents .banner{
    margin: 40px auto 0;
    width: 1000px;
    height: 275px;
    background-color: maroon;
}

#contents .movie{
    margin-top: 40px;
    width: 100%;
    height: 300px;
    background-color: ivory;
}
#contents .style{
    margin: 0 auto;
    margin-top: 40px;
    width: 1000px;
    height: 260px;
    background-color: darkgray;
}

.style_h{
    float: left;
    width: 180px;
    height: 260px;
    background-color: darkmagenta;
}
.style_b{
    float: right;
    width: 800px;
    height: 260px;
    background-color: aliceblue;
}

#contents .go_btns{
    margin: 40px auto 0;
    width: 1000px;
    height: 395px;
    background-color: gold;
}
#contents .info_box{
    margin-top: 40px;
    width: 100%;
    height: 165px;
    background: url(../images/footer_top_bg.jpg) repeat-x 0 0;
}
/* footer */
#footer{
    float: left;   
    width: 100%;
    height: 420px;
    background-color: coral;
}

.f_top{
    margin: 0 auto;
    width: 1000px;
    height: 300px;
    background-color: darkred;
}
.f_bom{
    width: 100%;
    border-top: 2px solid #ccc;
}
.f_bom_in{
    margin: 0 auto;
    width: 1000px;
    height: 120px;
}