#wrap{
    width: 100%;
    height: auto;
    padding: 0 auto;
    margin: 20px;
}

#wrap > h5{
    color: green;
}


#top_tab{
    float: left;  
    /* height: 40px; */
    /* line-height: 20px; */
    vertical-align: middle;
    width: 90%;
    margin: 10px auto;
    padding: 0px 10px 10px;
    background-color:rgb(184, 184, 189);
}

#top_tab > h5{
    display: inline-block;
    margin-right: 10px;
}

#top_tab > select{
    margin-right: 40px;
}

#search{
    
    width: 200px;
    height: 17px;
    resize: none;
    background-color: #fff;
    margin: 10px 0px -5px;    
}

 #search-icon{
    display: inline-block;
    margin-left: 10px;
    background-color: blueviolet;
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
} 

#search-icon:hover{
    cursor: pointer;
}

.pageNum{
    display: inline-block;
}

