body{
    margin: 0 auto;
    padding: 0 auto;
    width: fit-content;
}

#wrap{ 
    margin: 0 auto;
}

body{
    width: fit-content;
    margin: 0 auto;
}

#wrap > h5{
    color: green;
}

#top_tab{
    float: left;  
    /* height: 40px; */
    /* line-height: 20px; */
    vertical-align: middle;
    width: 90%;
    margin: 10px auto;
    padding: 0px 10px 10px;
    background-color:rgb(184, 184, 189);
}

#top_tab > h5{
    display: inline-block;
    margin-right: 10px;
}

#top_tab > select{
    margin-right: 40px;
}

#search{
    width: 200px;
    height: 17px;
    resize: none;
    background-color: #fff;
    margin: 10px 0px -5px;    
}

 #search-icon{
    display: inline-block;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
} 

#search-icon:hover{
    cursor: pointer;
}

#search-icon > img {
    height: 20px;
    margin-bottom: -5px;
}
/*  
    이미지 받은 곳인데 색이나 크기 조절가능 여기서
    https://www.flaticon.com/free-icon/search_4250972?k=1661306942531&log-in=google 
*/

.pageNum{
    display: inline-block;
}

table{ 
    width: 90%;
    margin-top: 5px; 
    background-color: #fff; 
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
}

table tr{ 
    height: 30px;
    text-align: center;
}
 
.tableTop{
    border-bottom: 1px solid rgb(200, 200, 200);
    border-top: 1px solid rgb(200, 200, 200);
    background-color: rgb(244, 241, 241);
    /*
    float: left;
    height: 30px;
    width: 90%;
    margin-top: 5px;
    line-height: 30px;
    background-color: rgb(226, 226, 229);
    */
} 
 
.button{
    background-color: #fff;
    color: #71b6df;
    padding: 5px;
    border: 1px solid #71b6df;
    margin-top: 15px;
}

.button2{
    background-color: #71b6df;
    border: none;
    color: #fff; 
    margin-top: 15px;
    margin-right: 10%;
    padding: 5px 25px;
    float: right;
}
 


 
