@charset "utf-8";
#wrap{width:100%;}

/* 상단부분 */
#header{ width: 100%; height:163px;}

#header_in{margin: 0 auto; position: relative;
           width: 1000px; height: 115px;}
#header_in .logo{ float: left; padding-top: 45px;}

#header_in .q_mn{float: left; margin: 55px 0 0 150px;}
#header_in .q_mn > li{ float: left; margin-right: 30px;}
#header_in .q_mn > li:last-child{margin-right: 0px;}
#header_in .q_mn > li > a{ font-size: 15px; color: #777;
                           font-weight: 700;}

#header_in .input_box{ float: left; margin: 50px 0 0 20px; 
                       width:260px; height: 30px;
                       background-color: #ccc;}                         
#header_in .input_box > span{float: left; padding-left: 15px;
                             font-size: 13px; line-height: 30px; }
#header_in .input_box > a{float: right; margin: 4px 4px 0 0 ;}
#header_in .latest{ float: right; margin: 55px 60px 0 0;}

#header_in .info_mn{position: absolute; top:5px; right:10px;}
#header_in .info_mn >li{display: inline-block; /*font-size: 0;*/ 
                        margin-left: -4px; 
                        margin-right: 10px; padding-right: 10px;
                        border-right:1px solid #333;
                        line-height: 11px;
                      /*float:left;*/}

#header_in .info_mn >li:last-child{ 
                         margin-right:0px; padding-right: 0px;
                         border-right:0px;}                     
#header_in .info_mn >li >a{ font-size: 11px;}

#main_nav{width: 100%; height: 48px;
          background-image:url(../images/nav_area.jpg);
          background-repeat: no-repeat;
          background-position: 50% 0;
          position: relative;
          /*background:url(../images/nav_area.jpg)no-repeat 50% 0;*/}
#main_nav > ul{margin:0 auto; width: 1005px;}
#main_nav > ul > li{ float: left;}



#sub_box{
       position: absolute; left: 0; 
       top: 48px; 
       z-index: 5000;
       width: 100%; 
       height: 0; 
       background-color: rgba(255,255,255,0.7);
       transition: all 0.5s;
}

/* 그룹 선택자 */
#main_nav > ul:hover + #sub_box, #sub_box:hover{
       height: 300px; 
       transition: all 0.7s;
}

/* #sub_box:hover{height: 300px;transition: all 0.7s;} */

/* 메인이미지*/
#main_img{ width: 100%; height:465px;
       position: relative; 
       overflow: hidden;
           /* background: url(../images/main_img.jpg)no-repeat 50% 0; */
       }
#main_img ul{width: 200%; position: absolute;
              top: 0; left: 0;
              animation-name: main_ani;
              animation-delay: 1s;
              animation-duration: 5s;
              animation-iteration-count: infinite;
              animation-timing-function: ease-in-out;
       }
#main_img ul li{float: left;}
@keyframes main_ani{
       0%{position: absolute; top: 0; left: 0;}
       80%{position: absolute; top: 0; left: -100%;}
       100%{position: absolute; top: 0; left: -100%;}
}

/* contents */
#contents{ width: 100%;}
#item{ margin:0 auto; margin-top: 40px;
       width: 1000px; height: 260px;}
#item .item_h{ float: left; width:170px; height: 260px;} 
#item .item_h > h3{ font-size: 25px; color:#000;
                    padding: 15px 0;
                    border-top:2px solid #000;
                    border-bottom:2px solid #000;} 
#item .item_h > ul{ margin-top:30px;}  
#item .item_h > ul > li{ margin-bottom: 8px;}                 
/* 특정요소 앞또는 뒤에 특정요소를 추가할때 사용
#item .item_h > ul > li::before{ margin-bottom: 8px;
                     content:"*";}
#item .item_h > ul > li::after{ content:"+";}
 */
#item .item_h > ul > li:hover::after{
                     display: inline-block; 
                     content: ">"; font-size: 12px; padding: 0 10px;
                     font-weight: 900;
                     color:orange;}
#item .item_h > ul a{ font-size: 16px; color: #000;
                      font-weight: 700;}
#item .item_h > ul a:hover{ color: orange; 
                      text-decoration: underline;
                      transition: 0.7s;}                      

               
#item .item_b{ float: right; width:800px; height: 260px;}
#item .item_b > ul{}
#item .item_b > ul > li{ float: left; width: 190px; height: 260px;
                         border: 1px solid #ccc;
                         margin-right: 13.3px;
                         box-sizing: border-box;
                         }
#item .item_b > ul > li:last-child{ margin-right: 0;}                                              
#item .item_b li >img { width: 100%; border-bottom: 1px solid #ccc;} 
#item .item_b li >h4{padding: 14px 0 0 10px; font-size: 14px;}
#item .item_b li >span{display:block; padding: 8px 0 0 10px; font-size: 13px;}


#banner{margin:0 auto; margin-top: 40px;
        width: 1000px; height: 280px;}
#banner > a{float: left; margin-right:18.5px;}
#banner > a:last-child{ margin-right: 0;}

#movie{margin-top: 40px; position: relative; 
       width: 100%; height: 300px;
       background:url(../images/movie.png)no-repeat 50% 0;}
#movie > a{display: block; position: absolute; 
           left: 50%; top:200px; margin-left: -75.5px;
           width: 145px; height: 45px; 
           font-size: 15px; border: 1px solid #fff;
           text-align: center; 
           line-height: 45px;
           background-color: rgba(255,255,255,0.5);
          }

#style{margin: 0 auto; margin-top: 40px;
       width: 1000px; height: 260px;
       /* background-color: brown; */
       }


#style .style_h{ float: left; width: 170px; height: 260px;
                /* background-color: aquamarine; */
              }
#style .style_h > h3{font-size: 25px; padding: 15px 0;
                     border-top:2px solid #000;
                     border-bottom:2px solid #000 ;}
#style .style_h > ul{ margin-top: 30px;}
#style .style_h li{margin-bottom: 10px;}
#style .style_h li > a{ font-size: 16px; color: #000;
                        font-weight: 700; }
#style .style_h li > a:hover{ color: orange; 
                              text-decoration: underline;
                              transition: 0.7s;}
#style .style_h li > a:hover::after{display: inline-block; content: ">";
                              font-size: 10px; padding: 0 10px;}
/*  */
#style .style_b{ float: right; width: 800px; height: 260px;
                /* background-color: pink; */
              }
/* #style .style_b li{margin-right: 10px;} */
#style .style_b > ul{}
#style .style_b > ul > li{ float: left; width: 190.3px; height: 260px;
                            border: 1px solid #ccc;
                            margin-right: 12.6px;
                            box-sizing: border-box;
                     }
#style .style_b > ul > li:last-child{ margin-right: 0;} 
#style .style_b li >img { width: 100%; border-bottom: 1px solid #ccc;} 
#style .style_b li >h4 {padding: 17px 0 0 12px; font-size: 14px;}
#style .style_b li >span {display: block; padding :4px 0 0 12px; font-size: 13px;}
#style .style_b > h4{font-size: 25px; padding:15px 0;
                     border-top: 2px solid #000;
                     border-bottom: 2px solid #000;}
#style .style_b > ul{margin-bottom: 30px;}
#style .style_b li{margin-bottom: 10px;}
/*  */
#item .item_b{ float: right; width:800px; height: 260px;}
#item .item_b > ul{}
#item .item_b > ul > li{ float: left; width: 190px; height: 260px;
                         border: 1px solid #ccc;
                         margin-right: 13.3px;
                         box-sizing: border-box;
                         }
#item .item_b > ul > li:last-child{ margin-right: 0;}                                              
#item .item_b li >img { width: 100%; border-bottom: 1px solid #ccc;} 
#item .item_b li >h4{padding: 14px 0 0 10px; font-size: 14px;}
#item .item_b li >span{display:block; padding: 8px 0 0 10px; font-size: 13px;}

/*  */

#article .article{color: white; font-weight: bolder;}

#go_btns{ margin: 0 auto; margin-top: 40px;
         width: 1020px; height:397px;
         /* background-color: brown; */
       }

       /* 얘들간격 16px 인데 */
#go_btns img{
       float: right;
       margin: 8px;
}

#go_btns .b1 > img {margin-bottom: 16px;}

/* 하단부분 */
#footer{ width: 100%; height:600px; margin-top: 82px;}


#footer_t{ width: 100%; height:160px;
          background: url(../images/footer_top_bg.jpg) repeat-x 0 0;
         
          display: grid;
          justify-content: center;
          grid-template-columns: auto auto;
          /* grid-template-rows: auto auto; */
       }
#footer_t img { 
              margin: 0px auto; 
              text-align: center;
              }
/* #footer_t img{
       position: relative;

       
        margin-left: 440px;
       margin-right: -420px;
       border-left: 1px solid #333; 
} */


#footer_t h4{
       margin-right: 28px;
       margin-left: 450px;
       margin-top: 0 px;
       color: white;
       white-space: nowrap;

}

#footer_t b{
       margin-left: 10px ;
}
#footer_t span{
       font-size: 16px;
       /* margin-left: 300px; */
       color: white;
       /* text-align: start; */
       /* display: grid;
       justify-self: stretch; */

}

#footer_info {
       display: grid;
       justify-self: stretch;
       grid-template-columns: 1fr 8fr 1fr;

}

#footer_t >div{
       display: grid;
       justify-self: stretch;
}

#footer_m{ margin: 0 auto;
           width: 1000px; height: 300px; 
           /* background-color: cornsilk; */
           
       }

#footer_m >ul >li{
                     /* display:inline-block;  */
                     float: left;
                     padding-top: 28px;
                     margin-right: 75px;
              } 
#footer_m >ul >li >h3{padding-bottom: 15px;}
#footer_m >ul >li >h4{padding-bottom: 4px;}

#footer_m .article >callNum{
                     float: left;
                     margin-top: 20px;
}

#footer_m .article >callNum >h3{font-size: 35px;  border-bottom:2px solid #000; }

#footer .line{width: 100%; height: 2px; 
           background-color: black;}  
           
#footer .line > img

#footer_b{margin: 0 auto;
          width: 1000px; height: 140px; 
          /* background-color: cornsilk; */
       }